/* Buscador */

.options {
  width: 100%;
  height: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buscador {
  width: 70%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buscador input {
  width: 60%;
  height: 1.5em;
  border-radius: 15px;
  border: 1px solid #838cf1;
}
